<p id="notice"><%= notice %></p>

<p>
  <strong>Creditcardnumber:</strong>
  <%= @transaction.creditCardNumber %>
</p>

<p>
  <strong>Cardholdername:</strong>
  <%= @transaction.cardholderName %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type %>
</p>

<p>
  <strong>Securitypass:</strong>
  <%= @transaction.securityPass %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @transaction.expirationDate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
