<%= form_for(@post_image, url: post_images_path, html: {multipart: true}) do |f| %>
  <% if @post_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_image.errors.count, "error") %> prohibited this post_image from being saved:</h2>

      <ul>
      <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :image %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
