<p id="notice"><%= notice %></p>

<h1>Listing Post Images</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_images.each do |post_image| %>
      <% cache(cache_key_for_post_image_row(post_image)) do %>
          <tr>
            <td><%= post_image.image_url %></td>
            <td><%= post_image.post.name %></td>
            <td><%= link_to 'Show', post_image %></td>
            <td><%= link_to 'Edit', edit_post_image_path(post_image) %></td>
            <td><%= link_to 'Destroy', post_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post image', new_post_image_path %>
<%= will_paginate @post_images %>